* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(252, 226, 197);
}
.base {
    width: 100%;
}
.header {
    width: 100%;
    height: 940px;
    background-image: url(blueback.png);
}
.logo {
    width: 180px;
    margin-top: auto;
}
.header_top {
    width: 80%;
    border-bottom: 1px solid #b0cdf1;
    margin: auto;
}