@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: url(blueback.png);
    background-attachment: fixed;
}

.base {
    width: 100%;
}
.header {
    width: 100%;
    height: 940px;
}
.logo_img {
    width: 180px;
}
.logo {
    margin-top: 4px; 
}
.header_top {
    display: flex;
    width: 80%;
    height: 70px;
    border-bottom: 1px solid #b0cdf1;
    margin: auto;
}
.top_links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 59%;
}
.top_links_link {
    color: rgb(204, 224, 250);
    font-size: 17px;
    font-family: 'Comfortaa';
    text-decoration: none;
    margin-top: 26px;
}
.top_links_link:hover {
    color: #F55449;
    transition: 0.2s;
}
.conteiner {
    margin: auto;
    width: 80%;
    height: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.names {
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.name {
    font-family: 'Ubuntu';
    font-size: 50px;
    font-weight: 500;
    color: #b0cdf1;
}
.lastname {
    margin-top: 15px;
    font-family: 'Comfortaa';
    font-size: 30px;
    font-weight: 400;
    color: #b0cdf175;
}


.main {
    width: 80%;
    margin: auto;
}

.caland_name {
    font-family: 'Comfortaa';
    font-size: 30px;
    font-weight: 700;
    color: #b0cdf1;
}